body { 
    margin: 0; 
    font-family:'Segoe UI', Verdana, Tahoma, Geneva, sans-serif;
    /* font-size: 110%;        */
    border: 0;
    padding: 20px;    
 }
 
.btn-primary {
    background: coral;
}

.card {
    box-sizing: border-box; /* Includes padding and border in width */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  min-height: 300px;
  /* border-radius: 5px; */
  /* padding: 3px; */
  /* border: solid 3px white; */
  position: relative;
  z-index: 1; /* Ensure cards stack properly */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(144, 34, 1, 0.2);
  /* border: solid 3px orange; */
  cursor: pointer;
}

/* img {
  border-radius: 5px 5px 0 0;
} */

.text-container {
    padding: 2px 16px;
  }

  .card img {
    width: 100%; /* Ensure the image takes up the full width of its container */
    height: auto; /* Maintain aspect ratio */
    max-height: 320px; /* Optional: Set a maximum height for the images */
    object-fit: cover; /* Ensures the image fits within the container, cropping if needed */
}

.cards-wrapper {
    display: flex; 
    /* flex: 1 1 calc(50% - 22px); */

    /* width: 44%; */
    flex-wrap: wrap; 
    /* allows wrapping for smaller screens */
    justify-content: space-around;
    gap: 18px; /*add some space between the columns */
    margin: 0; /* Removes any default margins */
    box-sizing: border-box;
}

.card-container {
    display: flex; 
    flex: 1 1 calc(50% - 22px); /* Two columns - takes 50% width with spacing */
    min-width: 300px; /* Ensures cards don't shrink too much */
    box-sizing: border-box;
}
